@page
@model Gardentools.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Detail kachel";
    string imagePath = "~/images/" + (Model.Article.ImagePath ?? "noimage.jpg");
    ViewData["Email"] = "";
    ViewData["Loginstyle"] = "visibility: visible; ";
    ViewData["Logoutstyle"] = "visibility: hidden; ";
    ViewData["Configstyle"] = "visibility: hidden; ";
    if (!string.IsNullOrEmpty(Model.Availability.Email))
    {
        ViewData["Email"] = Model.Availability.Email;
        ViewData["BasketCount"] = Model.Availability.BasketCount;
        ViewData["Loginstyle"] = "visibility: hidden; ";
        ViewData["Logoutstyle"] = "visibility: visible; ";
        if (Model.Availability.IsAdmin)
        {
            ViewData["Configstyle"] = "visibility: visible; ";
        }
    }
}

<h1>@Html.DisplayFor(model => model.Article.Brand.BrandName)</h1>
<h2>@Html.DisplayFor(model => model.Article.ArticleName)</h2>
<hr />
<div class="btn-group">
    <a asp-page="./Details" asp-route-id="@Model.PreviousId" class="btn btn-light">&lt; Vorige</a>
    <a asp-page="./Index" class="btn btn-light">
        Terug naar overzicht
    </a>
    <a asp-page="./Details" asp-route-id="@Model.NextId" class="btn btn-light">Volgende &gt;</a>
</div>
<hr />


<div class="row">
    <div class="col-6">
        <img class="img-fluid" src="@imagePath" asp-append-version="true" />
    </div>
    <div class="col-6">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Article.Brand.BrandName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Article.Category.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.ArticleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Article.ArticleName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Article.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.Description)
            </dt>
            <dd class="col-sm-10">




                @Html.DisplayFor(model => model.Article.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.EnergySupply)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Article.EnergySupply)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.Warranty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Article.Warranty)
            </dd>
            <dt class="col-sm-2 text-secondary">
                In mandje
            </dt>
            <dd class="col-sm-10 h3">
                <a asp-page="./Basket" asp-route-id="@Model.Article.Id" class="btn btn-sm btn-success" title="Toevoegen aan winkelmandje"><i class="fas fa-cart-plus"></i></a>
            </dd>
        </dl>
    </div>
</div>
<div>
    <div class="btn-group">
        <a style="@Model.Availability.ConfigButtonStyle" asp-page="./Edit" asp-route-id="@Model.Article.Id" class="btn  btn-warning" title="Wijzigen">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </div>
</div>
