<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gardentools</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gardentools.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Gardentools</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/articles/Index">Ons aanbod</a>
                        </li>
                        <li class="nav-item" style="@ViewData["Configstyle"]">

                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Configuratie
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-page="/brands/index">Merken</a></li>
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-page="/categories/index">Categoriën</a></li>
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-page="/orders/index">Bestellingen</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="@ViewData["Loginstyle"]">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Register">Registreer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Login">Login</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="@ViewData["Logoutstyle"]">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Account">
                                <i class="fas fa-cog"></i> @ViewData["Email"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Logout">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Baskets/Index">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="badge bg-secondary">@ViewData["BasketCount"]</span>
                            </a>
                        </li>

                    </ul>

                </div>





            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Gardentools - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>